$color-primary: #3E69DC;
$color-secondary: #24408a;
$color-tertiary: #264189;
$white: #fff;

$color-red-light: #f84949e7;
$color-red-dark: #8b0202e7;

$color-green-light: #30BC3B;
$color-green-dark: #217e29;
$color-green-dark-2: #195e1e;

$black: #000;