@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

// @import "./breakpoints.scss";
@import "./variables.scss";
@import "./components.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./about.scss";
@import "./testimonialList.scss";
@import "./home.scss";



*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

a{
  color: $white;
  text-decoration: none;
}

ul{
  list-style: none;
}

html{
  font-size: 62.5%;

  // @include media("<=phone"){
  //   font-size: 45.5%;
  // }
  
  // @include media("<=tablet"){
  //   font-size: 50%
  // }
  
  // @include media("<=1100px"){
  //   font-size: 56.5%  
  // }

  // @include media("<=desktop"){
  //   font-size: 62.5%
  // }
}

.app{
  display: grid;
  grid-template-rows: auto minmax(60vh, max-content) 1fr;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.container{
  padding: 1rem 8rem;
  max-width: 1920px;
  margin: 0 auto;
}